*{
    background-color: #F8F8F8;
}
.landing-nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
.lan-nav-left{
    width: 30px;
    height: 30px;
}
.lan-nav-left img{
    width: 150%;
    height: 200%;
}
.lan-nav-mid{
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding-top: 1%;
    font-weight: bolder;
}

.lan-sign{
    border-radius: 30px;
    border: 1px solid #663999;
    width: 120px;
    padding: 10%;
    color: #1E1E1E;
}
.land-hero{
    display: grid;
    place-items: center;
    padding-top: 10%;
}
.tUlti{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E1E1E;
    width: 60%;
}
.tUlti2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #663999;
}
.tUltim{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E1E1E;
    padding: 2% 0;
}
.waitlistBtn{
    border-radius: 30px;
    padding: 5%;
    width: 300px;
    border: none;
    background: linear-gradient(90deg, #663999 0%, #CDA02A 100%);
    color: #FFFFFF;
}
.waitlistBtn:hover{
    background: #1E1E1E;
    color: #fefefe;
}
.land-sec-two{
    margin-top: 20%;
    margin-bottom: 10%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    /* height: 500px; */
}
.land-sec-two img{
    width: 100%;
    height: 100%;
}
.land-sec-three{
    background-color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}
.trustB{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E1E1E;
    background-color: #ffffff;
}
.useEv{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    background-color: #ffffff;
    text-align: center;
    color: #8B8B8B;
}
.land-sec-four{
    padding: 5% 2%;
}
.ftur{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #8B8B8B;
    background-color: #FFFFFF;
    padding:.5%;
    border-radius: 20px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    color:#663999;
}
.dmeasy{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    color: #1E1E1E;
}
.dmeasy2{
    width: 55%;
}
.gsad{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #8B8B8B;
}

.dividedTwo{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.dividedtwoLeft{
    width: 30%;
    border-radius: 30px;
    padding: 5%;
    height: 400px;
    border:1px solid #663999;
}
.dividedtwoRight{
    width: 45%;
    border-radius: 30px;
    padding: 5%;
    height: 400px;
    border:1px solid #663999;
}
.asake{
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}
.ololade{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
    width: 70%;
}
.divimgwrap{
    width: 100%;
    height: 300px;
}
.divimgwrap img{
    width: 100%;
    height: 100%;
}
.land-sec-five, .tes{
    background-color: #ffffff;
}
.land-sec-five{
    padding: 5% 1% 35% 1%;
}
.test-slider{
    background-color: #ffffff !important;
}
.test-box{
    padding: 5%;
    border: 0.5px solid #663999;
    border-radius: 20px;
    width: 80% !important;
    margin: 5% 0;
}
.test-box-top{
    display: flex;
    gap: 10px;
}
.test-box-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.test-box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.test-name{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.test-word{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.land-sec-six{
    position: relative;
}
.land-sec-six-inner1{
    background-color: #ffffff;
    width:80%;
    position: absolute;
    border-radius: 30px;
    top: -250px;
    left: 10%;
}
.land-sec-six-inner{
    width: 100%;
    display: flex;
    background-color: #fefefe;
    border: 1px solid #663999;
    border-radius: 30px;
    padding: 3%;
}
.sancho-wrap{
    width: 25%;
    height: 400px;
    background-color: #fefefe;
}
.sancho-mid{
    width: 50%;
    height: 400px;
    background-color: #fefefe;
}
.spye{
    width: 80%;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    background-color: #fefefe;
    letter-spacing: 0em;
    text-align: center;
    color: #1e1e1e;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
.ebe{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    background-color: #fefefe;
    text-align: center;
    color: #1E1E1E;
}
.sancho-wrap img{
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}
.sancho-btn{
    background-color: #663999;
    width: 40%;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding: 2%;
    border-radius: 25px;
    border: none;
}
.footer-land{
    background-color: #F8F8F8;
    padding: 20% 0% 10% 5%;
    border-bottom: 1px solid #D5D5D5;
    display: flex;
    
}
.footer-left{
    width: 50%;
    border-right: 1px solid #D5D5D5;
}
.footer-left-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
    width: 100%;
    border-bottom: 1px solid #D5D5D5;
}
.footer-logo{
    width: 45px;
    height: 60px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
}
.footer-eve{
    font-family: Inter;
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
    width: 30%;
}
.footer-your{
    width: 50%;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
}
.footer-left-bottom{
    display: flex;
    padding-top: 10%;
    width: 100%;
    justify-content: space-between;
}
.foo-pro{
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}
.foo-fea{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #8B8B8B;
}
.supdated{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}
.footer-right{
    padding: 0% 3% 2% 3%;
}
.eventNews{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}
.sub-form{
    display: flex;
    padding: 20% 0;
}
.subinp{
    background-color: #FFFFFF;
    border: 1px solid #8B8B8B;
    color: #8B8B8B;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    padding: 2%;
    padding-right: 10%;
    border-radius: 30px;
}
.sub-btn{
    background-color: #663999;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding: 5%;
    border-radius: 30px;
    position: absolute;
    left: -60px;
    border: none;
    width: 50%;
    height: 100%;
}
.sub-btn-wrap{
    position: relative;
    width: 100%;
}
.connect{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}
.soci-row{
    width:25%;
    display: flex;
    justify-content: space-between;
}
.soci-row-img-wrap{
    width: 24px;
    height: 24px;
}
.soci-row-img-wrap img{
    width: 100%;
    height: 100%;
}
.stars-row{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.mob{
    display:none;
}
@media screen and (max-width:500px){
    .mob{
        display: block;
    }
    .desk, .stars-row{
        display: none;
    }
    .landing-nav{
        display: none;
    }
    .land-hero{
        display: grid;
        place-items: center;
        padding-top: 10%;
    }
    .tUlti{
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        line-height: 24.2px;
        width: 70%;
    }
    .tUlti2{
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;
        letter-spacing: 0em;
        text-align: center;
        color: #663999;
    }
    .tUltim{
        display: none;
    }
    .waitlistBtn{
        padding: 4%;
        width: 90vw;
    }
    .land-sec-three{
        background-color: #ffffff;
        padding: 15% 0;
    }
    .trustB{
        font-size: 20px;
        line-height: 25.2px;
    }
    .useEv{
        font-size: 10px;
        line-height: 12.6px;   
    }
    .ftur{
        font-size: 1rem;
        line-height: 20.16px;
        padding: 3% 1%;
        border-radius: 20px;
        width: 35%;
    }
    .dmeasy{
        font-size: 20px;
        line-height: 25.2px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: #1E1E1E;
    }
    .gsad{
        font-family: Plus Jakarta Sans;
        font-size: 10px;
        line-height: 12.6px;
        width: 90%;
    }
    .dividedTwo{
        display: grid;
        gap: 30px;
    }
    .dividedtwoLeft{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
    }
    .asake{
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        line-height: 15.2px;
    }
    .ololade{
        font-family: Plus Jakarta Sans;
        font-size: 10px;
        line-height: 12.6px;
        width: 90%;
    }
    .divimgwrap{
        height: 200px;
    }
    .dividedtwoRight{
        width: 85%;
        height: 300px;
    }
    .spye{
        width: 100%;
        font-family: Plus Jakarta Sans;
        font-size: 10.13px;
        font-weight: 600;
        line-height: 12.77px;
        padding-top: 5%;
    }
    .ebe{
        font-size: 7px;
        line-height: 7.9px;
    }
    .land-sec-six-inner1{
        background-color: #ffffff;
        width:80%;
        position: absolute;
        border-radius: 30px;
        top: -60px;
        left: 10%;
    }
    .sancho-btn{
        width: 50%;
        font-size: 6px;
        line-height: 7px;
        padding: 2%;
        border-radius: 25px;
    }
    .sancho-wrap{
        width: 25%;
        height: 115px;
        background-color: #fefefe;
    }
    .sancho-mid{
        width: 50%;
        height: 100%;
        background-color: #fefefe;
    }
    .footer-logo{
        width: 26px;
        height: 40px;
    }
    .footer-eve{
        font-size: 20px;
        width: 80%;
    }
    .foo-pro{
        font-size: 10px;
        line-height: 12.6px;
    }
    .foo-fea{
        font-size: 7px;
        line-height: 10.2px;
    }
    .supdated{
        font-size: 10px;
        line-height: 12.6px;
    }
    .eventNews{
        font-size: 1rem;
        line-height: 20px;
    }
    .subinp{
        font-size: 12px;
        line-height: 20px;
        width: 200%;
    }
    .sub-btn{
        font-size: 8px;
        line-height: 7.5px;
        left: -20px;
        width: 100%;
    }
    .sub-btn-wrap{
        position: relative;
        width: 100%;
    }
    .connect{
        font-size: 10px;
        line-height: 12px;
    }
    .soci-row{
        width:50%;
    }
    .soci-row-img-wrap{
        width: 10.33px;
        height: 8.39px;
    }
    .test-box-img{
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .test-name{
        font-size: 12.36px;
        line-height: 14.96px;
    }
    .test-word{
        font-size: 12.36px;
        line-height: 15.58px;
    }
}